<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Passanger Security</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link href="css/stylesheet.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

<script
  src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="IRIS_APP" ng-controller="IRISCtrl">
    <div>{{Driver}}</div>
    <div>{{Traveller}}</div>
    <h1>Traveller Safety App</h1>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
    
      <div class="col-md-4">
      <form>
      <div id="contact-form" class="form-container" data-form-container>
      <div class="row">
        <div class="form-title">
          <span>I am a Driver</span>
        </div>
      </div>
      <div class="input-container">
        <!--<div class="row">
          <span class="req-input" >
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="My First and Last Name."> </span>

            <input ng-model="Driver.FullName" type="text" data-min-length="8" placeholder="Full Name">
          </span>
        </div>-->
        <div class="row" >
           
          <span class="req-input" >
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Aadhaar ID."></span>
            <input ng-disabled="Driver.otpgenerated" ng-model="Driver.aadhaar_ID" type="text" data-min-length="8" placeholder="Aaadhaar Id" >
          </span>
           <span class="label label-default">{{Driver.aadhaar_ID.length}}</span> 
        </div>
        <div ng-if="Driver.otpgenerated" class="row">
          <span class="req-input">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Click on Submit Button and Enter OTP"> </span>
            <input ng-model="Driver.OTP" type="text" placeholder="OTP">
            
          </span>
        </div>

        <div class="row">
          <span class="req-input">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Pincode."> </span>
            <input ng-model="Driver.Pincode" type="text" placeholder="Pincode">
          </span>
        </div>
        <!--<div class="row">
          <span class="req-input">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="My Phone Number."> </span>
            <input ng-model="Driver.PhoneNumber" type="tel" placeholder="Phone Number">
          </span>
        </div>-->
        <div ng-if="Driver.Messages.length != 0" class="alert alert-success">
        	<div ng-repeat="m in Driver.Messages">
        		{{m}}
        	</div>
        </div>
        <div ng-if="Driver.Errors.length != 0" class="alert alert-danger">
        	<div ng-repeat="m in Driver.Errors">
        		{{m}}
        	</div>
        </div>
        <div class="row submit-row">
          <button ng-disabled="Driver.loading" ng-click="Driver.SubmitDriver()" type="button" class="btn btn-block submit-form">Submit 
          <span ng-if="Driver.loading"> loading...</span> </button>
        </div>
      </div>
      </div>
      </form>
    </div>
        <div class="col-md-4">
        <form>
      <div id="contact-form" class="form-container" data-form-container style="color: rgb(46, 125, 50); background: rgb(200, 230, 201);">
      <div class="row">
        <div class="form-title">
          <span> I am a Traveller</span>
        </div>
      </div>
      <div class="input-container">
        <div class="row">
          <span class="req-input valid" >
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="My First and Last Name."> </span>
            <input ng-model ="Traveller.TravellerName" type="text" data-min-length="8" placeholder="Full name" value="Traveller name">
          </span>
        </div>
      
        <div class="row">
          <span class="req-input message-box valid">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="My Email"> </span>
            <input ng-model="Traveller.TravellerEmail" type="text" data-min-length="8" placeholder="Email Address" value="Traveller email">
        </div>

        <div class="row">
          <span class="req-input input-password invalid">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Password must be at least 8 characters long."> </span>
            <input ng-model= "Traveller.TravellerPass" type="password" data-min-length="8" placeholder="Password">
          </span>
        </div>

        <div class="row submit-row">
          <button ng-click ="Traveller.SubmitTraveller()" type="button" class="btn btn-block submit-form valid">Submit</button>
        </div>
      </div>
      </div>
      </form>
    </div>
      
    <div class="col-md-4">
    <form>
        <div id="login-form" class="form-container" data-form-container style="color: rgb(198, 40, 40); background: rgb(255, 205, 210);">
      <div class="row">
        <div class="form-title">
          <span>Login</span>
        </div>
      </div>
      <div class="input-container">
        <div class="row">
          <span class="req-input valid" >
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Input your email."> </span>
            <input ng-model ="Login.username" type="email" data-min-length="8" placeholder="Email" value="">
          </span>
        </div>
        <div class="row">
          <span class="req-input input-password invalid">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Password must be at least 8 characters long."> </span>
            <input ng.model= "Login.password" type="password" data-min-length="8" placeholder="Password">
          </span>
        </div>
        
        <div class="row" style="display:none">
          <span class="req-input confirm-password">
            <span class="input-status" data-toggle="tooltip" data-placement="top" title="Password Must Match Initial Password Field."> </span>
            <input type="password" data-min-length="8" placeholder="Confirm Password">
          </span>
        </div>
        
        <div class="row">
          <a class="create-account"> Create an Account </a>
        </div>
        
        <div class="row submit-row">
          <button ng-click = "Login.SubmitLogin" type="button" class="btn btn-block submit-form invalid">Login</button>
        </div>
        <div class="oauth-buttons">
          <span><i class="fa fa-facebook"></i> </span>
          <span><i class="fa fa-google-plus"></i> </span>
          <span><i class="fa fa-linkedin"></i> </span>
          <span><i class="fa fa-twitter"></i> </span>
        </div>
          
        
      </div>
      </div>
    
      </form>
    </div>
  
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/IRIS.js"></script>
  </body>
</html>